
<!-- Footer -->
<footer class="  text-lg-start border shadow"  style="background-color: #fff;">


  <!-- Copyright -->
  <div class="container d-flex justify-content-between align-items-center">
    
  <div class="text-center p-3" style="background-color: #fff; font-size: 13px; color: rgb(0,0,0,0.5);">
    © 2021 Copyright:
    <a class="" href="http://www.codingalphas.com">CodingAlphas.com</a>
  </div>
  <div class="d-flex justify-content-end" style="color: 13px; color: rgb(0,0,0,0.5);">
    <div class=" ">
      <a href="mailto:tech.codingalphas@gmail.com" class="pl-1 pr-1" style="font-size: 12px;">Feedback & Privacy Policy</a>
      <a href="mailto:tech.codingalphas@gmail.com" class="pl-1 pr-2" style="font-size: 12px;">Help Center</a>
     
    </div>
    <div class="border-left ">
    
      <a href="mailto:tech.codingalphas@gmail.com" class="pl-1 pr-2" style="font-size: 12px;">tech.codingalphas@gmail.com</a>
     
    </div>
    <div class="border-left ">
      
      <a class="pl-2 pr-1"><i class="fa fa-linkedin"></i></a>
      <a class="pl-1 pr-1"><i class="fa fa-twitter"></i></a>
      <a class="pl-1 pr-1"><i class="fa fa-facebook"></i></a>
      <a class="pl-1 pr-1"><i class="fa fa-telegram"></i></a>
      <a class="pl-1 pr-2"><i class="fa fa-instagram"></i></a>
    </div>
    <div class="border-left pl-2">
      <i></i> India
    </div>
  </div>
  </div>
  <!-- Copyright -->
</footer>